.mainpage-allbox{
    position: absolute;
    overflow: hidden;
    background: rgb(31,31,31);
    font-size: 20px;
    box-shadow: inset 0px 0px 15px 4px black;
    -webkit-box-shadow: inset 0px 0px 15px 4px black;
    -moz-box-shadow: inset 0px 0px 15px 4px black;
}

.mainpage-box-text{
    position: absolute;
    z-index: 10;
    width: 100%;
    text-align: center;
    font-size: 22pt;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom:25px;
    color: white;
}

.mainpage-box-bodytext{
	position: absolute;
	overflow-y:scroll;
	bottom: 75px;
	top:0;
	padding: 40px;
	margin-right: -25px;
	padding-right: 40px;
	padding-top:60px;
	line-height: 175%;
    color: lightgray;
    font-size: 17px;
	
}


.mainpage-box-shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: black;
	opacity: .25;
    -webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;

}

.mainpage-box-shadow:hover {
    opacity: 0;
}

.mainpage-box-cover{
}

.mainpage-box-cover.ng-enter, .mainpage-box-cover.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.mainpage-box-cover.ng-enter,
.mainpage-box-cover.ng-leave.ng-leave-active {
  opacity:0;
}

.mainpage-box-cover.ng-leave,
.mainpage-box-cover.ng-enter.ng-enter-active {
  opacity:1;
}

.mainpage-box1{
	text-align: center;
    width: 30%;
    left:0;
    height:30%;
}

.mainpage-box2{
    width: 40%;
    left:30%;
    height:50%;
}

.mainpage-box3{
    width: 30%;
    right:0;
    height:40%;
}

.mainpage-box4{
    width: 30%;
    left:0;
    top:30%;
    height:20%;
}

.mainpage-box5{
    width: 70%;
    top:50%;
    left:0%;
    height:30%;
}

.mainpage-box6{
    width: 30%;
    top:40%;
    right:0%;
    height:30%;
}

.mainpage-box7{
    width: 30%;
    top:70%;
    right:0%;
    height:30%;
}

.mainpage-box8{
    width: 40%;
    top:80%;
    left:0%;
    height:20%;
}

.mainpage-box9{
    width: 30%;
    top:80%;
    left:40%;
    height:20%;
}

.mainpage-box1-picture{
    position: absolute;
    width: 130%;
    left: -30%;
    height: 100%;
}
.mainpage-box2-picture{
    position: absolute;
    left: -200px;
    width:200%;
    height: 100%;

}
.mainpage-box3-picture{
    position: absolute;
    width: 100%;
    height: 100%;
}
.mainpage-box4-picture{
    position: absolute;
    
    width:100%;
    height: 100%;
}
.mainpage-box6-picture{
    position: absolute;
    width:200%;
    left: -200px;
    height: 100%;
}
.mainpage-box7-picture{
    position: absolute;
    width:150%;
    left: -30%;
    height: 100%;
}
.mainpage-box8-picture{
    position: absolute;
    width:130%;
    left: -30%;
    height: 130%;
}
.mainpage-box9-picture{
    position: absolute;
    width:110%;
    left: 0%;
    height: 110%;
}

.fadein,
.fadeout {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
	position: absolute;
	width: 100%;
	height: 120%;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}

.fade.ng-leave {
  transition:0.5s linear all;
  opacity:0;
}
.fade.ng-leave.ng-leave-active {
  opacity:1;
}

.mainpage-slideshow-right-show{
	position: absolute;
	right: 0;
	width: 75px;
	height: 100%;
	opacity: .4;
	background: black;
	cursor: pointer;
	z-index: 20;
	
	-webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
}



.mainpage-slideshow-right-icon{
	position: absolute;
	top:50%;
	width: 100%;
	text-align: center;
	margin-top: -20px;
	font-size: 40px;
	color:white;
}

.mainpage-slideshow-left-show{
	position: absolute;
	left: 0;
	width: 75px;
	height: 100%;
	opacity: .4;
	background: black;
	cursor: pointer;
	z-index: 20;
	
	-webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
}

.mainpage-slideshow-highlight{
    background: red;
    /*include ng-animate for slideshow transitions to work*/
	-webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
}

.mainpage-slideshow-left-icon{
	position: absolute;
	top:50%;
	width: 100%;
	text-align: center;
	margin-top: -20px;
	font-size: 40px;
	color:white;
}
