.footer{
    position: relative;
    height: 100px;
    width: 95%;
    bottom: -120px;
    margin: 0 auto 0 auto;
    border-top: 1px solid grey;
    min-width: 600px;
    
    
    
}

.footer > i {
    font-size: 15pt;
}

.footer-section > h4 {
    margin: 10px 0 10px 0 !important;
    padding: 0 !important;
    color: rgb(225,225,225);
}

.footer-section > a {
    text-decoration: none;
    background-color: none;
    color: rgb(145,145,145);
}



.footer-section{
    position: relative;
    width: 27%;
    float: left;
    height: 100%;
    color: rgb(145,145,145);
    font-size: 15px;
    padding-left: 5%;
}