<div class="mainpage-box{{data.num}} mainpage-allbox"
     ng-mouseenter="data.hover = !data.hover"
     ng-mouseleave="data.hover = !data.hover"
     ng-cloak>
    <div class="mainpage-box-shadow" 
         ng-click="boxClicked()"
         ng-if="!data.clicked">
            
    </div>
    
    <div class="mainpage-box-text">
        {{data.desc}}

    </div>

    <div ng-if="data.text" class="mainpage-box-bodytext" ng-click="boxClicked()">
        {{data.text}}
    </div>
    
    

    <div class="mainpage-slideshow-right-show" 
         ng-class="{'mainpage-slideshow-highlight' : data.hover}"
         ng-if="data.num == 4" ng-click="changeSlide(1)">
        <div class="fa fa-chevron-right mainpage-slideshow-right-icon">

        </div>
    </div>    
    
    <div class="mainpage-slideshow-left-show" 
         ng-class="{'mainpage-slideshow-highlight' : data.hover}"
         ng-if="data.num == 4" ng-click="changeSlide(0)">
        <div class="fa fa-chevron-left mainpage-slideshow-left-icon">

        </div>
    </div>
    
    <div class="mainpage-box-cover" 
         ng-if="data.clicked == false"
         ng-cloak>
        <div class="mainpage-box{{data.num}}-picture " 
             ng-if="data.num != 4" >
            <img ng-src="images/img{{data.num}}.jpg" width="100%" height="100%"/>
        </div>
        <div class="mainpage-box{{data.num}}-picture"
             ng-if="data.num == 4">
            <div ng-repeat="image in imageCycle">
                <div ng-if="image.num == currentSlide" class="temp animate-if">
                    <img ng-src="{{image.src}}" width="100%" height="100%"/>		
                </div>
            </div>
        </div>
        
    </div>
</div>