
.mainpage-box-container{
    position: absolute;
    height: 190%;
    width: 100%;
    max-height: 1300px;
    min-height: 600px;
    max-width: 1200px;
    min-width: 600px;
    margin-top: 0px;
    margin-bottom: 200px;
    left: 0;
    right: 0;
    top: 350px;
/*    top: 300px;*/
/*    top: 700px;*/
    background: rgb(150,150,150);
    margin-left: auto;
    margin-right: auto;
}

.mainpage-news-container{
    position: absolute;
    /* width: 60%; */
    height: 400px;
    background-color: red;
    top: 200px;
    left: 100px;
    right: 100px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.mainpage-temp-rsvp{
    position: absolute;
    height: auto;
    top: 190px;
    text-align: center;
    color: white;
    font-size: 16px;
    background-color: darkgoldenrod;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-height: 1300px;
    max-width: 1200px;
    min-width: 600px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.mainpage-temp-rsvp > a {
    color: white;
    text-decoration: none;
}

.mainpage-temp-rsvp > a:hover {
    color: gold;
    text-decoration: none;
}

.wrapper {
  width: 100%;
  /* whatever width you want */
  display: inline-block;
  position: relative;
}
.wrapper:after {
  padding-top: 56.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}