
.mainpage-box-container{
    position: relative;
    height: 100%;
    width: 100%;
    max-height: 1100px;
    min-height: 600px;
    max-width: 1000px;
    min-width: 600px;
    margin-top: 0px;
    margin-bottom: 200px;
    left: 0;
    right: 0;
    top: 200px;
    background: rgb(150,150,150);
    margin-left: auto;
    margin-right: auto;
}

.mainpage-news-container{
    position: absolute;
    /* width: 60%; */
    height: 400px;
    background-color: red;
    top: 200px;
    left: 100px;
    right: 100px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.mainpage-temp-rsvp{
    position: relative;
    height: auto;
    top: 100px;
    text-align: center;
    color: white;
    font-size: 16px;
    background-color: darkgoldenrod;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-height: 1300px;
    max-width: 1200px;
    min-width: 600px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.mainpage-temp-rsvp > a {
    color: white;
    text-decoration: none;
}

.mainpage-temp-rsvp > a:hover {
    color: gold;
    text-decoration: none;
}

.wrapper {
  width: 100%;
  /* whatever width you want */
  display: inline-block;
  position: relative;
  height: 1400px;
}

