<div class="ranking-box-container">
    <h2>Rankings</h2>
    <div ng-repeat="item in rankings.ranks | orderBy: '-year'">
        <hr/>
        <div class="ranking-item-container" >
            <h2>{{item.year}}</h2>
            <div class="ranking-background-img">
                <img ng-src="images/ranking_photos/{{item.year}}-min.jpg" width="100%" height="100%"/>
            </div>
            
            
            <div ng-repeat="location in item.locations">
                <div class="ranking-location-container">


                    <h3>{{location.name}}</h3>
                    <div ng-repeat="detail in location.details">
                        #{{detail.place}}: {{detail.event}}
                    </div>

                </div>
                <div class="rankings-break" ng-if="3 % (item.locations.indexOf(location)) == 1" ></div>
            </div>
        </div>
    </div>
</div>

